<div class="mx-auto flex flex-col gap-y-2 mb-4">
  <section class="prose flex flex-row mb-2 justify-between">
    <h1 class="truncate">Documents</h1>

    <%= link_to "+ New Document", new_document_path, class: "block text-center" %>
  </section>

  <section>
    <%= form_with url: documents_path, method: :get, class: "flex" do |f| %>
      <%= f.text_field :search, class: "flex-1 rounded-l-full", placeholder: "Search", value: params[:search] %>
      <%= f.submit "Search", class: "rounded-r-full border border-l-0 border-black px-4 py-2 cursor-pointer" %>
    <% end %>
  </section>

  <section class="prose">
    <ul>
      <%= render @documents.roots %>
    </ul>
  </section>
</div>
